@charset "UTF-8";

/* -----------------------
          default
------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* -------- font設定 --------- */
@font-face {
	font-family: 'GenJyuuGothicL-P';
	src: url(font/GenJyuuGothicL-P-Normal.ttf);
}

body {
	font-family: 'GenJyuuGothicL-P';
}

/* ------- カラー設定 -------- */

:root {
  --color-title:#0050C4;
  --color-main:#6491D7;
  --color-sab:#B0D8FF;
  --color-btn:linear-gradient(#6491D7,#3C80E3,#9264E3);
}

/* -----------------------
           common
------------------------ */

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 6%;
}




/* ---------- illustの配置 -------- */

.message-illust-topleft {
  position: absolute;
  top:20px;
  left: 20px;
  width: 50px;
}
.message-illust-topright {
  position: absolute;
  top:20px;
  right: 20px;
  width: 50px;
}
.message-illust-bottomleft {
  position: absolute;
  left: -5px;
  bottom: -5px;
  width: 80px;
}
.message-illust-bottomright {
  
  position: absolute;
  right: -10px;
  bottom: -5px;
  width: 80px;
}

/* トップ以外のコンテンツのタイトル部分 */

.content-eng-title{
  font-weight: normal;
  font-size: 2em;
  font-family: 'Mrs Saint Delafield', "cursive";
  text-align: center;
  color: var(--color-sab);
  letter-spacing: 0.2em;
  margin-bottom: 40px;
}

#content-title h1 {
  font-size: 1.2em;
  color: white;
  line-height: 100px;
  font-weight: normal;
  text-align: center;
  height: 130px;
  letter-spacing: 0.2em;
  background-image: linear-gradient(to right, #6400c3,#0000c0,#000064) ;
}

#white-box {
  display: flex;
}
.white-box-item {
  width: 50%;
  height: 40px;
  background-color: white;
  transform: translateY(-30px);
  border-radius: 0px 30px 0px 0px;
}
.white-box-item:last-of-type {
  border-radius: 30px 0 0 0;
}


/* テキストの囲い込み青の２重線 */
.message-content{
  padding: 60px 30px 80px ;
  position: relative;
  text-align: center;
  border-radius: 20px;
  border: 2px solid var(--color-main);
}
.message-content::after{
  position: absolute;
  content: '';
  top: 6px;
  left: 6px;
  right: -10px;
  bottom: -10px;
  display: block;
  border-radius: 20px;
  border: 2px solid var(--color-sab);
  z-index: -5;
}

/* インスタグラム */

.instagram-logo {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--color-main);
}

@media (max-width:800px) {
  /* ---------- 改行のため -------- */
  .on {
    display: none;
  }
}
@media (min-width:800px) {
  /* ---------- 改行のため -------- */
 .off {
   display: none;
 }
 .on {
   display: block;
 }
}



/* -----------------------
          title
------------------------ */


/* ------ dotted-line-title(両サイド点線) ----- */



.dotted-line-title {
  font-weight: normal;
  font-size: 1em;
  position: relative;
  padding:3px 20px ;
  display: inline-block;
  margin: 15px 0 30px;
}
.dotted-line-title span {
  color: var(--color-main);
  display: inline-block;
  padding: 0 1px;
}

.dotted-line-title::before,
.dotted-line-title::after {
  position: absolute;
  top: 0;
  display: inline-block;
  content: '';
  height: 100%;
  width: 1px;
  border-left:4px dotted #ccc;
}
.dotted-line-title::before {
  left: 0;
  transform: rotate(-25deg);
}
.dotted-line-title::after {
  right: 0;
  transform: rotate(25deg);
}


/* ------ bgblue-title(小_背景に青の背景) ----- */
.bgblue-title {
  color: white;
  background-color: var(--color-main);
  line-height: 1.8em;
  width: 220px;
  margin: 0 auto;
  text-align: center;
  border-radius: 30px;
  margin-bottom:20px ;
  letter-spacing: 1px;
}


/* ------ bgbigblue-title(大_背景に青の背景) ----- */
.bgbigblue-title {
  font-weight: normal;
  color: white;
  background-color: var(--color-main);
  line-height: 2.8em;
  width: 260px;
  margin: 0 auto;
  text-align: center;
  border-radius: 40px;
}
/* ------ underline-title(下線に青のライン)----- */

.underline-title {
  color: var(--color-title);
  font-weight: normal;
  font-size: 1.2em;
  display: inline-block;
  margin: 0 auto;
}
.underline-title::after {
  position: relative;
  content: '';
  display: block;
  width: 240px;
  height: 20px;
  background-color: var(--color-sab);
  border-radius: 30px;
  transform: translateY(-15px);
  z-index: -1;
}

/* ------ btn-title(大_背景に青の背景) ----- */
.btn-title {
  color: white;
  background-image: var(--color-btn);
  line-height: 2.8em;
  width: 260px;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-title a {
  display: block;
}
.btn-title:hover {
  opacity: 0.9;
}
.btn-title:active {
  box-shadow:none;
  transform: translateY(2px);
}


/* ------ left-border-title(下線に青のライン)----- */

.left-border-title{
  text-align-last: left;
  padding-left:10px ;
  position: relative;
  line-height: 1.6em;
}
.left-border-title::before {
  position: absolute;
  left: 0;
  content: '';
  display: inline-block;
  height: 100%;
  width: 4px;
  border-radius: 4px;
  background-color: var(--color-sab);
}

/* -----------------------
           header
------------------------ */

header {
  position: fixed;
  z-index: 30;
}

header nav {
  background-color: rgba(3, 4, 107, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  transform: translateY(-500px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
header.open nav {
  pointer-events: auto;
  transform: translateY(0px);
  opacity: 1;
}

#hamberger-nav-logo {
  width: 60px;
  margin-bottom: 10px;
}
header nav {
  padding: 10vh 0;
  height: 100%;
  text-align: center;
}
header nav ul li{
  font-size: 1.2em;
  width: 50%;
  margin: 0 auto;
  color: white;
  padding: 12px 0;
  border-top: 1px solid #ccc;
  letter-spacing: 0.1em;
}
header nav ul li:last-of-type{
  border-bottom: 1px solid #ccc;
}
header nav ul li a:hover{
  opacity: 0.7;
}
#header-icon-box {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
#header-icon-box img{
  width: 90px;
  padding:20px 20px 0;
}


#hamberger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 30;
}
#hamberger-btn img{
  width: 60px;
  vertical-align: bottom;
  border-radius: 50%;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
}

header #hamberger-btn-close {
  display: block;
}
header #hamberger-btn-open {
  display: none;
}
header.open  #hamberger-btn-close {
  display: none;
}
header.open  #hamberger-btn-open {
  display: block;
}

@media (max-width:600px) {
  /* ---------- harder -------- */
  
}

/* -----------------------
        main-visual
------------------------ */
#main-visual-bg {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  vertical-align: bottom;
  z-index: 10;

}
#main-visual {
  position: relative;
}
#main-visual-logo {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 50%;
  max-width: 360px;
  z-index: 20;
  transform: translateY(-50%);
}

@media (max-width:600px) {
  /* ---------- main-visual -------- */
 
}

/* -----------------------
          message
------------------------ */

#message {
  padding: 60px 0;
}


#message .message-content p {
  font-size: 0.8em;
  line-height: 2.5em;
  display: inline-block;
}

#message .dotted-line-title span:first-of-type {
  transform: rotate(-15deg);
}
#message .dotted-line-title span:nth-of-type(2) {
  transform: translateY(-3px) rotate(-10deg);
}
#message .dotted-line-title span:nth-of-type(3) {
  transform: translateY(-5px) rotate(-4deg);
}
#message .dotted-line-title span:nth-of-type(4) {
  transform: translateY(-6px) rotate(0deg);
}
#message .dotted-line-title span:nth-of-type(5) {
  transform: translateY(-5px) rotate(4deg);
}
#message .dotted-line-title span:nth-of-type(6) {
  transform: translateY(-3px) rotate(10deg);
}
#message .dotted-line-title span:last-of-type {
  transform: rotate(15deg);
}



/* -----------------------
         aquarium
------------------------ */

#aquarium {
  padding-bottom: 60px;
}

#aquarium .message-content p {
  font-size: 0.9em;
  line-height: 2.5em;
  display: inline-block;
  padding-bottom: 60px;
}

#aquarium .dotted-line-title span:first-of-type {
  transform: rotate(-15deg);
}
#aquarium .dotted-line-title span:nth-of-type(2) {
  transform: translateY(-3px) rotate(-10deg);
}
#aquarium .dotted-line-title span:nth-of-type(3) {
  transform: translateY(-5px) rotate(-4deg);
}
#aquarium .dotted-line-title span:nth-of-type(4) {
  transform: translateY(-6px) rotate(0deg);
}
#aquarium .dotted-line-title span:nth-of-type(5) {
  transform: translateY(-6px) rotate(0deg);
}
#aquarium .dotted-line-title span:nth-of-type(6) {
  transform: translateY(-5px) rotate(4deg);
}
#aquarium .dotted-line-title span:nth-of-type(7) {
  transform: translateY(-4px) rotate(10deg);
}
#aquarium .dotted-line-title span:last-of-type {
  transform: rotate(15deg);
}

#aquarium .charm-image {
  padding: 10px 0;
}
#aquarium .message-content .charm-text {
  font-size: 0.9em;
  line-height: 1.8em;
}
#aquarium .message-content .charm-text:last-of-type {
  line-height: 1.8em;
  padding-bottom: 0;
}


/* -----------------------
         home-rental
------------------------ */

#home-rental {
  text-align: center;
  padding-bottom: 60px;
}
#home-rental p{
  line-height: 1.8em;

}
#home-rental img{
  width: 80%;
  max-width: 400px;
  padding: 40px 0 0 ; 
}

#home-rental .dotted-line-title {
  color: black;
  font-size: 1.2em;
}


@media (max-width:600px) {
  /* ---------- news -------- */
  
}
/* -----------------------
      home-instagram
------------------------ */

#home-instagram {
  text-align: center;
  margin-bottom: 40px;
}

.instagram-acsess {
  display: inline-block;
  padding: 10px 0 20px ;
}

#home-instagram .instagram-acsess img{
  width: 100px;
  margin-bottom: 10px;
}
#home-instagram .instagram-acsess p{
  font-size: 1.2em;
  color: var(--color-main);
}

#home-instagram p:last-of-type {
  line-height: 1.8em;
}


/* -----------------------
           footer
------------------------ */

footer {
  color: white;
  background-image: url(img/footer-bg.jpg) ;
  background-size: cover;
  background-position: left;
  padding: 30px 8% 0px ;
}
footer h1 {
  text-align: center;
}
footer h1 img {
  width: 200px;
}
footer ul {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0  20px;
}
footer ul li{
  font-size: 1em;
  width: 50%;
  margin-bottom: 30px;
}
footer ul li a{
  padding-left: 10px;
}
footer ul li::before{
  display: inline-block;
  content: '';
  height: 10px;
  width: 10px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
}


footer p {
  line-height: 1.8em;
  text-align: center;
  font-size: 1em;
  padding-bottom: 20px;
}

#footer-icon-box {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#footer-icon-box img{
  width: 100px;
  padding:0 20px ;
}

#footer-phone-contact {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 40px 0;
  margin-bottom: 40px;
}

#footer-phone-contact .bgbigblue-title{
  background-color: white;
  color: var(--color-title);
  font-size: 1.4em;
  padding: 0;
  font-weight: bold;
  letter-spacing:1px;
}

footer .store-info p {
  font-size: 1em;
  line-height: 1em;
}

footer p small{
  display: inline-block;
  padding-top:20px ;
  font-size: 0.5em;
}
@media (min-width:800px) {
  /* ---------- footer -------- */
  footer ul{
    justify-content: center;
  }
  footer ul li{
    width: 30%;
  }
  
}

/* -----------------------
        取り扱い商品
------------------------ */
#product section {
  margin-bottom: 60px;
}

#beginner-set {
  text-align: center;
}
#beginner-set h2{
  font-size: 1.2em;
  margin-bottom: 20px;
}
#beginner-set h3{
  color: var(--color-main);
  font-size: 1.4em;
}
#beginner-set h4{
  color: black;
  line-height: 1.2em;
  padding: 10px 0;
}
#beginner-set h4 .money{
  color: var(--color-title);
  font-size: 1.8em;
}

.product-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.product-box-item {
  width: 48%;
}
.product-box-item img{
  margin-bottom: 10px;
}

#product ul li {
  margin-bottom: 5px;
}
#product ul li span {
  color: var(--color-main);
  padding-right: 5px;
}

#last-comment {
  margin-top: 40px;
  line-height: 1.5em;
  text-align: center;
}
#last-comment p{
  padding: 0 25px;
}


/* -----------------------
        レンタル水槽
------------------------ */

#rental section {
  margin-bottom: 60px;
}
#rental-orderflow h3 {
  margin-bottom: 60px;
}
#rental-orderflow ul h4 {
  font-size: 1.6em;
  padding-top: 20px;
}

#rental-orderflow .message-content {
  position: relative;
  padding: 20px 0 ;
  margin-bottom: 100px;
}

#rental-orderflow h5 {
  position: absolute;
  color: var(--color-main);
  top: -35px;
  left: 0;
  right: 0;
  width: 150px;
  margin: 0 auto;
  font-size: 3em;
  background-color: white;
}
#rental-orderflow .message-content p{
  line-height: 2em;
}

.underarrow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-width:3px ;
  border-style: solid;
  border-color: transparent var(--color-sab) var(--color-sab) transparent;
  border-radius: 10px;
  transform: translateY(35px) rotate(45deg);
}
.underarrow::after {
  position: absolute;
  display: block;
  top:-5px;
  left: -20px;
  content: '';
  width: 80px;
  height: 10px;
  background-color: white;
  transform: translateY(15px) rotate(-45deg);
}

#sab-visual {
  height: 200px;
  background-image: url(img/image-rental-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#question-box {
  padding-top: 40px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
#question-box dt,
#question-box dd{
  width: 88%;
}
#question-box dt {
  position: relative;
  color: var(--color-title);
  border-bottom: 2px dotted #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
#question-box dt::before {
  color: white;
  position: absolute;
  left: -35px;
  content: 'Q';
  display: inline-block;
  padding: 3px 8px;
  border-radius: 20px;
  background-color: var(--color-main);
}
#question-box dd{
  margin-bottom: 30px;
}

/* -----------------------
        水槽設置事例
------------------------ */
/* -----------------------
        店舗アクセス
------------------------ */
/* -----------------------
        お問い合わせ
------------------------ */



/* -----------------------
           About
------------------------ */

@media (max-width:600px) {
  /* ----------  About-------- */
 
}
/* -----------------------
       news-single
------------------------ */



